*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/*login*/
.cuerpo{
    width: 1280px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-content: center;

}
.login{
    width: 474px;
    height: 544px;
    border: 2px solid black;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.loginC{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    gap: 20px;
}
.inputs{
    display: flex;
    flex-direction: column;
}
@media (min-width:375px){
}